body 
{
align-content: center;
justify-content: center;
flex-flow: flex-wrap; 	
margin: 25px;
background-color: black;
background-image: url(Image1.png);
background-size: cover;
background-repeat: no-repeat;
color: white;
font-family: 'Roboto Condensed', sans-serif;
font-size: 20px;
align-content: center;
text-align: center;	
}
h1
{
text-align: center;	
}
span
{
text-align: center;	
}
.button
{
  display: inline-block;
  border-radius: 4px;
  background-color: rgba(100,100,100,0.5);
  border: none;
  color: rgb(255,255,255);
  text-align: center;
  font-size: 24px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: grab;
  margin: 5px;
}
.button span 
{  
  cursor: grab;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -50px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}


