body 
{ 	
flex-flow: flex-wrap; 
font-family: 'Roboto Condensed', sans-serif;
background-color: black;
background-image: url(Image2.png);
background-size: cover;
background-repeat: no-repeat;
color: white;
font-family: 'Roboto Condensed', sans-serif;
text-align: right;
padding: 10px;
margin: 2px;
font-size: 25px;	
}
.home
{
  display: inline-block;
  border-radius: 4px;
  background-color: rgba(100,100,100,0.5);
  border: none;
  color: rgb(255,255,255);
  text-align: center;
  font-size: 12px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: grab;
  margin: 5px;
}
.home span 
{  
  cursor: grab;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.home span:after {
 
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -50px;
  transition: 0.5s;
}
.home:hover span {
  padding-right: 25px;
}
.home:hover span:after {
  opacity: 1;
  right: 0;
}

.session
{
 text-align: center;
 display: inline-block;
 color: #4666FF; /* Text color */
 background-color: transparent; /* Remove background color */
 border: 2px solid #19f6e8; /* Border thickness, line style, and color */
 border-radius: 10px; /* Adds curve to border corners */
 transition: 1s;
 width: 200px;
 padding: 10px;
 }
footer
{
margin: 0px;
padding-right: 60px;	
}
a {
    text-decoration: none !important;
}